body, html, #mainContainer {
    width: 100%;
    height: 100%;
    margin: 0;
}

#mainContainer {
    background-color: #f2f2f2;
    overflow: hidden;
}

#divConsulta {
    display: flex;
    flex-direction: column;
    margin-left: 38%;
    margin-right: 38%;
    margin-top: 5%;
    padding: 77px 55px 33px 55px;
    height: 60%;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.spanLabel {
    font-family: Poppins-Bold;
    text-align: center;
    font-size: 30px;
    padding-bottom: 100px;
}

#txtBoxNumeroDeTelefono {
    border: none;
    border-bottom: solid;
    outline-width: 0;
    color: #555555;
}

#labelNumeroDeTelefono {
    order: -1;
    padding-left: 5px;
    transition: all 0.3s ease-in;
    transform: translateY(150px);
    pointer-events: none;
    color: #555555;
}

#botonConsultarNumero {
    margin-top: 100px;
    height: 35px;
    border-radius: 20px;
}